body{
    background-image: url(fons.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

/* Reiniciar algunos estilos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilo para la barra de navegación */
.navbar {
    background-color: #5500ff;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/* Estilo para la lista de la barra de navegación */
.navbar-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

/* Estilo para los elementos de la lista */
.navbar-menu li {
    margin: 0 45px;
}

/* Estilo para los enlaces */
.navbar-menu a {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    text-align: center;
}

.navbar-menu a:hover {
    background-color: #00d5ff;
    border-radius: 4px;
    color: white;
    border-radius: 20px;
}
.texto{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width:100%;
    color: black;
    background-color: #ffffff;     
    position: relative;
    margin:0 auto ;
    text-align: center;
    top:700px;   
    height: 100;
}
.imagen{
    position: absolute;
   text-align: center;
   padding: 10px;
   font-size: 1em;
   color: #555;
   background-color: #fafafa;
}
.imagen img{
    width: 200px;
}
table{
    border: black;
    border-width: 5cap;
}
.butonimage1{
    border-radius: 50px;
    position: sticky;
    top: 75px;
margin:0px   75px ;
}
.butonimage1 img{
    border-radius: 50px;
    margin: 75px;
}
.butonimage1 :hover{
    width: 325px;
}
